<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="StyleTemplate/index.css">
    <title>Login</title>
</head>
<body>

<div id="login">
    <h1>Accedi</h1>
    <form>
        <fieldset id="content-login">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </fieldset>

        <div id="btn">
            <input type="submit" id="entra" value ="Entra">
        </div>
    </form>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="Client/login.js"></script>

</body>
</html>